body{
    background: beige
}

.container{
    background: red
    max-width: 100rem;
    max-height: 300rem;
}



.nav-bar{
    width: 100%;
    background: rgb(255, 255, 255);
    padding: 0.01rem;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;

}



.options{
    display: flex;
    gap: 6em;
    list-style: none;
    color:black;
}

@media (max-width: 600px) {
    .options {
        flex-direction: column;
    }
    
    .options li {
        flex: none;
        padding: 1rem;;
    }
}



li a{
    color: rgb(99, 99, 99);
    text-decoration: none;
}

a:hover{
    color: rgb(0, 0, 0);
    text-decoration: none;
}


.boxes{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    gap: 1rem;
    margin: 1rem 2rem;
    text-align: center;
}

.caja{
    width: 33%;
    height: 33rem;
    background: white;
    padding: 2rem;
    border-radius: 0.5rem;
    flex: 1;
    border-radius: 1rem;
}

.textes{
    display: flex;
    background: white;
    width: 93.7%;
    height: fill-content ;
    margin: 2rem auto;
    padding: 1rem 0;
    border-radius: 0.5rem;  

}






.content {
    display: flex;
    background: white;
    width: 93.7%;
    height: 10rem ;
    margin: 2rem auto;
    padding: 1rem 0;
    border-radius: 0.5rem;  
    
}



.caja-large{
    width: 33%;
    height: 6rem;
    background: rgb(105, 105, 104);
    padding: 2rem;
    border-radius: 0.5rem;
    flex: 1;
    border-radius: 1rem;
    margin: 0 1rem
}


.textes{

    font-family: Arial, sans-serif;
    color: rgb(99, 99, 99);
    text-align: center;
}





